body {
    background-color: #444442 !important;
    color: black !important;
}

.form-gap {
    padding-top: 70px;
}

.form-control {
   
    font-size: 2rem;
    background-color: #2d2d2d !important;
    color: white !important;
    
}

.panel-body { 
    background-color: rgb(108,117,125);
}